.App {
  text-align: center;
  font-size: large;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.containertabs{
  display: flex;
}
.Sub-heading{
  font-size:18px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size-adjust: inherit;
  border-bottom: 10px solid black;
}
.alltabs1 .ant-tabs-tab .ant-tabs-tab-active{
  background-color: brown;

}

.App-header {
 
  background-color: rgba(27, 20, 20, 0.822);
  font-stretch: extra-expanded;
  font-size:44px;
  color: white;
  text-align: center;
}
.maincontainer{
  display: flex;
}
.container1{
  background-color: gainsboro;
  max-height: 41;
  height: 80%;
}
.container2{
  background-color: aliceblue;
  height: 90px;
  padding: 20px;
}
.container3{
  background-color: aliceblue;
  height: 170px;
  padding:10px;
}
.container4{
  background-color: aliceblue;
  height: 250px;
  padding:10px
}
.container5{
  background-color: aliceblue;
  height: 450px;
  padding: 14px;
}
.App-link {
  color: #61dafb;
}

.Tile2{
  display: flex;
  justify-content: right;
  border: 3px black; 
  font: 800;             
}
.Tile2 .element{
  font: 800;
}


.ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab, .ant-tabs-card.ant-tabs-top > div > .ant-tabs-nav .ant-tabs-tab {
  background-color: rgb(223, 247, 230);
}

.alltabs1{
  display: flex;
  justify-content:right;
}
.alltabs2{
  display: flex;
  justify-content:right ;
}
.alltabs1 .ant-tabs-tab {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rebeccapurple;
}
.alltabs1 .ant-tabs-nav-list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container4 .ant-tabs-tab {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container4 .ant-tabs-nav-list {
  width: 100%;
  align-items: center;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
